//import all other sass files
@use 'abstracts' as *;
@use 'components' as *;
@use 'sections' as *;

//basic css reset
*, *::after, *::before {
  box-sizing: border-box;
}

img, picture {
  width: 100%;
  display: block;
}

html {
  scroll-behavior: smooth
}

//global styles

main {
  position: relative;
  @include themify($themes) {
    background: themed('backgroundColor');
  }
}

body, h1, h2, h3, p, header, footer {
  margin: 0;
  font-family: $font-primary;
}

section {
  padding: 0 2rem;
  height: 500px;
}

h1 {
  font-weight: $font-bold;
  font-size: 40px;
  @include themify($themes) {
    color: themed('textPrimary');
  }
}

h2 {
  font-weight: $font-bold;
  font-size: 32px;
  @include themify($themes) {
    color: themed('textSecondary');
  }
}

p {
  font-weight: $font-reg;
  @include themify($themes) {
    color: themed('textSecondary');
  }
}

.light {
  font-weight: $font-light;
}

.thin {
  font-weight: $font-thin;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: $font-reg;
}

a:hover, a:focus {
  text-decoration: underline;
}

