@use '../abstracts/colors' as *;

.background-colors-summer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: map-get($themes, "summer", "backgroundColor");
  transition: opacity 1s linear;
  opacity: 1;
}

.background-colors-winter {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: map-get($themes, "winter", "backgroundColor");
  transition: opacity 1s linear;
  opacity: 0;
}