@use '../abstracts/colors' as *;

.background-colors-summer {
  position: absolute;
  background-image: map-get($themes, 'summer', 'backgroundColor');
  transition: opacity 0.75s linear;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.background-colors-winter {
  position: absolute;
  background-image: map-get($themes, 'winter', 'backgroundColor');
  transition: opacity 0.75s linear;
  opacity: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
