@use '../abstracts/colors' as *;

footer {
  nav {
    display: flex;
    ul {
      display: flex;
      gap: 2em;
      li {
        cursor: pointer;
          font-size: 20px;
          text-transform: uppercase;
          letter-spacing: 1px;
          @include themify($themes) {
            color: themed('textSecondary');
          }
      }
      li:hover, li:focus {
        text-decoration: underline;
      }
    }
  }
}