@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;

header {
  position: sticky;
  z-index: 10;
  top: 0;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  width: 100%;
  transition: all 0.75s linear;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid;
  @include themify($themes) {
    color: themed('textSecondary');
    background: themed('backgroundColor');
  }
  margin-bottom: 30px; 
  padding: 10px 0 20px 0;
  nav {   
    display: flex;
    ul {
      display: flex;
      margin-top: 0;
      gap: 1em;
      li {
        cursor: pointer;
          text-transform: uppercase;
          letter-spacing: 1px;
          @include themify($themes) {
            color: themed('textSecondary');
          }
      }
      li:hover, li:focus {
        text-decoration: underline;
      }
    }
  }
}