#cv-skills {
  h2 {
    margin-top: 0;
  }

  h1 {
    margin-bottom: 0.25em;
  }

  .technologies-outer-container {
    display: flex;
  }

  .technologies-container {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    gap: 20px;
    display: grid;
  }

  .technologies-container.fullstack {
    grid-template-areas: 
    "next word"
    "mern mern";
    .next-img {
      grid-area: next;
      margin: auto;
      width: 100%;
      height: auto;
    }
    .wordpress-img {
      grid-area: word;
      margin: auto;
      width: 80%;
      height: auto;
    }

    .mern-img {
      grid-area: mern;
      margin: auto;
      width: 100%;
      height: 90%;
    }
  }

  .technologies-container.frontend {
    grid-template-areas: 
      "html html"
      "react TS";
  
    .html-css-js-img {
      grid-area: html;
      margin: auto;
      width: 100%;
      height: auto;
    }
    
    .react-img {
      grid-area: react;
      margin: auto;
      width: 100%;
      height: auto;
    } 
    
    .TS-img {
      grid-area: TS;
      margin: auto;
      width: 100%;
      height: auto;
    }
    
  }
}

@media screen and (max-width: 650px) {
  .technologies-outer-container {
    flex-direction: column;
  }
}

