@use '../abstracts/colors' as *;

#work {
    h3 {
        color: #ffffff;
        text-align: center;
    }
    .section-header {
        h1, p {
            margin: 0;
        }
    }
    * {
        transition: all 0.5s;
    }
    .project-category-container {
        .category-header {
            @include themify($themes) {
                color: themed('textSecondary') !important;
              }
            text-align: center;
            margin-top: 1em;
        }

        .project-container {
            height: 600px;
            position: relative;
            cursor: pointer;
            border-radius: 1em;
            margin-bottom: 2em;
            overflow: hidden;
            .project-img {
                height: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                border-radius: 1em;
            }
            h2 {
                text-align: center;
                margin-top: 0;
                @include themify($themes) {
                    color: themed('textPrimary') !important;
                  }
            }
           .project-info {
                position: absolute;
                top: 2.5em;
                bottom: 0;
                left: 0;
                right: 0;
                opacity: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-color: rgba(255, 255, 255, 0.3);
                border-radius: 1em;
                
                p {
                    color: black !important;
                    padding: 0 1em ;
                    line-height: 1.5em;
                    overflow: auto;
                }
           } 
        }
        .project-container:hover, .project-container:focus {
            .project-img {
                filter: blur(8px);
            }
            
            .project-info {
                opacity: 1;
            }
        }
    }
    .fa-globe, .fa-github {
        margin-right: 0.5em;
    }
    .btn-secondary {
        color: black;
        border-color: black;
    }
}

@media screen and (min-width: 900px) {
    .project-category-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2em;
    }
    .category-header {
        grid-column: 1/-1;
    }
    
}

